/* LANDING PAGE */
.landing {
  background: linear-gradient(#aee2ff, #ffffff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.landing-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5em;
}

.landing-clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.greenmen {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 300pt;
}

.landing-greenmanimg {
  width: 3.5em;
}

.earth {
  width: 100%;
  bottom: 0;
  position: absolute;
}

/* STORY */
body {
  margin: 0;
}

.story {
  height: 100%;
}

.btn_back {
  position: absolute;
  padding: 1em;
}

.scriptbox {
  background-color: #c8d5ae;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.greenmanimg {
  padding-right: 2em;
  width: 2.5em;
}

.textbox {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

#infocard {
  display: none;
  position: absolute;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer;
}

/* CTA */
.section_cta_first {
  background-color: #fefff6;
  padding: 5em;
}

.greenman-cta {
  width: 3.5em;
}

.section_clickable {
  display: flex;
  align-items: center;
  width: 100%;
  justify-items: center;
}

.section_emoji {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn_emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_cta_second {
  background-color: #c6e1e5;
  padding: 5em;
  height: stretch;
}

.section_cta_desc {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.section_ctabtn {
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.cta_capt {
  text-align: center;
  font-size: 24px;
  padding: 0 20%;
}

the-solutioncont {
    align-self: center;
}

/* fade in effect */
body {
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive Design */
@media only screen and (max-width: 1440px) {
  /* Landing Page */
  .landing-cont {
    margin-top: 2em;
  }

  .landing-greenmanimg {
    width: 2em;
  }

  .greenmen {
    width: 180pt;
  }

  /* Story */
  .greenmanimg {
    width: 1.8em;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* Landing Page */
  .landing-cont {
    margin-top: 2em;
  }

  .landing-greenmanimg {
    width: 2.5em;
  }

  .greenmen {
    width: 200pt;
  }

  /* Story */
  .greenmanimg {
    width: 2em;
  }

  .scriptbox {
    padding: .4em;
    overflow: hidden;
  }
}

